body {
  background-color: rgb(213, 213, 218);
}

/* controls the whole body element */
#main-wrapper {
  margin: 100px;
}
/* first section  */
#flex-parent {
  display: flex;
  justify-content: center;

  flex-flow: row wrap;
}

.flex-one {
  border: 1px solid red;
}

.flex-one img {
  width: 125px;
  height: 125px;
  object-fit: cover;
  border: 3px solid black;
  margin-right: 25px;
}

.flex-one h1 {
  color: brown;
}

.flex-two {
  border: 1px solid green;
  display: flex;
}

.flex-two ul li {
  list-style: none;
}

.flex-two ul:first-child {
  text-align: left;
  color: blue;
}

.flex-two ul:last-child {
  padding: 5px;
  color: rgb(160, 108, 17);
}

.flex-three {
  color: rgb(255, 34, 0);
  border: 1px solid blue;
}
/* end of first section  */
/* beginning of the second section */
